/* Estilos generales para el body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilos para el título */
h1 {
    color: #000; /* Color negro */
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para el formulario */
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Máximo ancho para centrar mejor */
    box-sizing: border-box; /* Incluye padding y border en el ancho */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

/* Estilos para los labels */
form label {
    color: #4B2E0E; /* Color café oscuro */
    font-weight: bold;
}

/* Estilos para los inputs y textarea */
form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="file"],
form textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que padding no rompa el layout */
}

/* Estilos para el botón */
form button {
    background-color: #4B2E0E; /* Color café oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Cambiar el color del botón al pasar el mouse */
form button:hover {
    background-color: #2D1B05; /* Color café más oscuro */
}
